<!DOCTYPE html>
<html>
<head>
  <title>Citation</title>
  <%= stylesheet_link_tag    "citation/application", :media => "all" %>
  <%= javascript_include_tag "citation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
