<!DOCTYPE html>
<html>
<head>
  <title>CiteroEngine</title>
  <%= stylesheet_link_tag    "citero_engine/application", :media => "all" %>
  <%= javascript_include_tag "citero_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
