<!DOCTYPE html>
<html>
<head>
  <title>ExCite</title>
  <%= stylesheet_link_tag    "ex_cite/application", :media => "all" %>
  <%= javascript_include_tag "ex_cite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
